@model JoePizza.Models.PizzaDetails

@{
    ViewData["Title"] = "AddToCart";
}

<h1>AddToCart</h1>

<div>
    <h4>PizzaDetails</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
    </dl>
</div>
 <form asp-action="AddToCart">
<div>
   <label>Quantity : </label>
    <input type="number" placeholder="Quantity" id="qty" name="qty"/></br><br />
</div>
<div>
    <button style="background-color:red; border-color:blue;" type="submit" id="submit" value="submit">Submit</button><br/>
</div>
</form>

